<footer class="my-16 border-t border-[var(--line-soft)] pt-8">
  <p class="text-center text-sm text-slate-600">
    Copyright Â© {new Date().getFullYear()} ChatGPT For Social. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://aoq.me
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://aoq.me"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      AOQ.ME
    </a>
  </p>
</footer>
